.main-container{
    background-color: white;
    padding: 7vw 4vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#financial-para{
    font-size: 15px;
    color: blueviolet;
    text-align: center;
}

.main-container h2{
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

.main-container p{
    text-align: left;
    color: rgb(78, 78, 78);
    font-size: 20px;
}

.first-div{
    margin: auto;
    padding: 20px;
    /* margin-bottom: 30px; */
}
